<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<div layout:fragment="content">
  <div class="text-center">
    <div class="mb-4">
      <i class="fas fa-check-circle text-success" style="font-size: 64px;"></i>
    </div>
    <h2>Dziękujemy za zamówienie!</h2>
    <p class="lead">Twoje zamówienie zostało przyjęte do realizacji.</p>

    <div class="alert alert-success w-75 mx-auto my-4">
      <p>Na Twój adres email został wysłany
<!--        <span th:text="${order.customer.type == T(com.example.enums.CustomerType).COMPANY ?-->
<!--                                 'faktura' : 'paragon'}">-->
<!--                   </span>-->
<!--        oraz potwierdzenie zamówienia.-->
      </p>
      <p class="mb-0">Numer Twojego zamówienia:
<!--        <strong th:text="${order.id}"></strong>-->
      </p>
    </div>

    <a href="/" class="btn btn-warning">WRÓĆ DO SKLEPU</a>
  </div>
</div>
</body>
</html>